*{
    box-sizing: border-box;

}
body {
    margin: 0;
    padding: 0;
    background-color: #ff8000;
    font-family:  montserrat,Geneva, sans-serif;

}

li, a{
    font-size: 16px;
    text-decoration: none;

}
header{

    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;


}
nav{
    background-color: #ff6500;
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    width: 100%;
    text-transform: uppercase;
    z-index: 10;


}






.logo{
    background-color: #ff7400;
    width: 100%;
    top: 0;
    left: 0px;
    position: fixed;
    text-align: left;
    vertical-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    z-index: 10;

}
.logo_pic{



    position: fixed;
    top: 0;
    left: 16rem;
    max-height: 56px;
    max-width: 56px;
    padding: 0px;
    width: 100%;
    z-index: 10;


}



.hamburger{
    position: fixed;
    top: 10px;
    right: 10px;
    margin: 10px;
    display: none;


}



.nav_links{

    width: 100%;
    position: fixed;
    top: 0;
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 8px;

}
.nav_links li{

    display: inline-block;
    padding: 10px 30px;
    vertical-align: center;

}

.nav_links li a{
    font-weight: bold;
    transition: all 0.5s ease 0s;
    color: #ffffff;


}
.nav_links li a:hover{

    color: #000000;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 50px;

}


footer {

    position: fixed; /*static a többi oldalon*/
    bottom: 0;
    border-top: 3px solid #ff6500;
    width: 100%;
    background-color: #ff7400;
    padding: 0 10px;

}



@media only screen and (max-width: 1160px){

    .hamburger{
        top: 0;
        display: flex;
        font-size:36px;
        color: white;
        cursor: pointer;
    }
    .nav_links{
        text-align: center;
        width: 100%;
        display: none;
    }
    .nav_links a{
        display: block;
        margin: 0;
    }
    .nav_links.active{
        display: block;
    }

    .nav_links.active li{
        margin: 0;
        padding: 30px;
        border: none;
        background-color: #ff7400;
        height: 100%;
        display: block;
        flex-direction: column;

    }

}